# Aula 05 - Introdução ao List Comprehension e Format

> Nessa aula, iremos dar introdução ao list comprehension, uma forma mais simples de realizar conversões de valores entre duas ou mais listas. Atualmente é uma das formas mais rápidas de aplicar conversões , substituindo as declarações mais extensas do que o método convensional, lambda e o map.

## Exemplo 1 - Conversão de Celsius para Fahreheit

In [1]:
celsius = [10, 20, 24, 35, 50]
fahreheit = [round(x*1.8+32,2) for x in celsius]
print(fahreheit)

[50.0, 68.0, 75.2, 95.0, 122.0]

## Exemplo 2 - Conversão de Kmh para Mph

In [2]:
kmh = [100, 25, 70, 80, 180]
mph = [round(x/1.61,2) for x in kmh]
print(mph)

[62.11, 15.53, 43.48, 49.69, 111.8]

In [7]:
print("{:<6} {:<6}".format("Kmh","mph"))
print("============")
x = 0
while(x<len(kmh)):
    print("{:<6} {:<6}".format(kmh[x],mph[x]))
    x +=1

Kmh    mph
============
100    62.11
25     15.53
70     43.48
80     49.69
180    111.8

In [8]:
print("{:<5} {:<5}".format("Celsius","Fahrenheit"))
print("============")
x = 0
while(x<len(celsius)):
    print("{:<5} {:<5}".format(celsius[x],fahreheit[x]))
    x +=1

Celsius Fahrenheit
============
10    50.0
20    68.0
24    75.2
35    95.0
50    122.0

### Exercício 1

> Crie uma lista com valores em metros. Crie uma tabela de conversão para polegadas, pés, jardas e milhas marítimas. Listando o número de linha e o cabeçalho da tabela.

In [63]:
metros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
metros.sort()
polegadas = [round(x*39.37,2) for x in metros]
pes = [round(x*3.28,2) for x in metros]
jardas = [round(x*1.09,2) for x in metros]
milhasm = [round(x/1852,2) for x in metros]

print("{:<5} {:<20} {:<20} {:<20} {:<20} {:<20}".format("N°", "Metros", "Polegadas", "Pés", "Jardas","Milhas Marítimas"))
print("==========================================================================================================")
x = 0
for v in range(0,len(metros),1):
    print("{:<5} {:<20} {:<20} {:<20} {:<20} {:<20}".format(v+1,metros[v],polegadas[v],pes[v],jardas[v],milhasm[v]))
    x += 1

N°    Metros               Polegadas            Pés                  Jardas               Milhas Marítimas
==========================================================================================================
1     1                    39.37                3.28                 1.09                 0.0
2     2                    78.74                6.56                 2.18                 0.0
3     3                    118.11               9.84                 3.27                 0.0
4     4                    157.48               13.12                4.36                 0.0
5     5                    196.85               16.4                 5.45                 0.0
6     6                    236.22               19.68                6.54                 0.0
7     7                    275.59               22.96                7.63                 0.0
8     8                    314.96               26.24                8.72                 0.0
9     9                    354.33               29.52                9.81                 0.0
10    10                   393.7                32.8                 10.9                 0.01

### Exercício 2

> Crie uma lista com 10 valores em Kelvin. Crie uma tabela de conversão para Celsius e Fahrenheit, listando o número da linha e o cabeçalho da tabela.

In [62]:
kelvin = [100, 200, 300, 400, 500, 600, 700, 800, 900, 1000]

celsius = [round(x+273.15,2) for x in metros]
fahreheit = [round(x*1.8+32,2) for x in celsius]

print("{:<5} {:<10} {:<10} {:<10}".format("N°", "Kelvin", "Celsius", "Fahrenheit"))
print("======================================")
x = 0
for v in range(0,len(kelvin),1):
    print("{:<5} {:<10} {:<10} {:<10}".format(v+1,kelvin[v],celsius[v],fahreheit[v]))
    x += 1

N°    Kelvin     Celsius    Fahrenheit
======================================
1     100        274.15     525.47
2     200        275.15     527.27
3     300        276.15     529.07
4     400        277.15     530.87
5     500        278.15     532.67
6     600        279.15     534.47
7     700        280.15     536.27
8     800        281.15     538.07
9     900        282.15     539.87
10    1000       283.15     541.67

### Exercício 3

> Crie uma lista com 10 pesos em kilos. Faça a conversão para o peso na Terra, Lua, Júpiter, Saturno e Mercúrio. Monte uma tabela com o cabeçalho e a numeração conforme os exercícios passados.

In [8]:
kg = [10,20,50,100,250,320,80,60,280,400]
 
terra = [round(x*9.8) for x in kg]
lua = [round(x*1.6) for x in kg]
jupiter = [round(x*2.4) for x in kg]
saturno = [round(x*24.8) for x in kg]
 
print("{:<6}{:<4}{:<8}{:<8}".format("terra","lua","jupiter","saturno"))
print("=========================")
x = 0
while(x<len(kg)):
    print("{:<6}{:<5}{:<7}{:<10}".format(terra[x],lua[x],jupiter[x],saturno[x]))
    x += 1

terra lua jupiter saturno
=========================
98    16   24     248
196   32   48     496
490   80   120    1240
980   160  240    2480
2450  400  600    6200
3136  512  768    7936
784   128  192    1984
588   96   144    1488
2744  448  672    6944
3920  640  960    9920